/*
* @Author: JawariaWaseem
* @Date:   2021-01-23 19:58:14
* @Last Modified by:   JawariaWaseem
* @Last Modified time: 2021-01-23 23:42:10
*/

$color-grey-primary: #EEEEEE;
$color-grey-main: #242133;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-blue: #6F90EB;
$color-blue-light: #72C4E0;

$color-orange: #EBB06F;
$color-orange-light: #E1C973;

$color-green: #5EC1AA;
$color-green-light: #72E098;

$color-purple: #CD94D6;
$color-purple-light: #9395F6;

$color-white: #ffffff;
$color-black: #000000;

$shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,0.06);